<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>差旅服务 - 出差申请</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/travel_application_form.css">
    <script type="text/javascript" src="../../js/common/flexible_css.js"></script>
    <script type="text/javascript" src="../../js/common/jquery.min.js"></script>
    <script src="../../../../app/js/base/base.js"></script>
</head>
<body>
<!--<div class="header">
    <div class="return"><span class="arrowUp"></span>返回</div>
    <div class="title">出差申请</div>
    &lt;!&ndash;<div class="shut">新建</div>&ndash;&gt;
</div>-->
<div class="container" id="container">
    <div class="content">
        <!--<ul class="details clearfix">
            <li>
                <span class="slide_out_details"></span>
                <div class="details_title">
                    <span>泰禾院子一期项目</span>
                    <p>CCSQ-2018-11-0000001</p>
                    <p>2018-10-29</p>
                </div>
                <ul class="toggleBox">
                    <li>明细
                        <p>北京-上海</p>
                    </li>
                    <li>金额
                        <p><i>¥</i>1028</p>
                    </li>
                    <li>日期
                        <p>2018-10-10</p>
                    </li>
                    <li class="fixed_position">
                        <span>预约</span>
                        <span>更改</span>
                    </li>
                </ul>
                <ul class="toggleBox">
                    <li>明细
                        <p>北京-上海</p>
                    </li>
                    <li>金额
                        <p><i>¥</i>1028</p>
                    </li>
                    <li>日期
                        <p>2018-10-10</p>
                    </li>
                    <li class="fixed_position">
                        <span>预约</span>
                        <span class="change_application">更改</span>
                    </li>
                </ul>
            </li>
        </ul>-->
    </div>
</div>
<div class="typeHint">
    <div class="hide_show">
        <div class="Reminder_con">
            <p>请选择变更类型</p>
            <div class="male">
                <span>紧急变更</span>
                <input type="radio" id="male" name="type"  checked="checked" /><label for="male"></label>
            </div>
            <div class="female">
                <span>普通变更</span>
                <input type="radio" id="female" name="type" /><label for="female"></label>
            </div>
        </div>
    </div>
</div>
<script>
    // 返回
    $(".return").click(function(){
        history.back();
    });

    /*$("#promptContent").html(message);
    $(".Reminder").fadeToggle();*/

</script>
</body>
</html>