<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>差旅服务 - 用车类型</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <script type="text/javascript" src="../../js/common/flexible_css.js"></script>
    <script type="text/javascript" src="../../js/common/jquery.min.js"></script>
    <script src="../../../../app/js/base/base.js"></script>
</head>
<body>
<div class="typeHint">
    <div class="hide_show">
        <div class="Reminder_con">
            <p>请选择用车类型</p>
            <div class="male">
                <span>打车</span>
                <input type="radio" id="male" name="type"  checked="checked" /><label for="male"></label>
            </div>
            <div class="female">
                <span>租车</span>
                <input type="radio" id="female" name="type" /><label for="female"></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>