<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发票抬头信息表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <script type="text/javascript" src="../../js/common/flexible_css.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/invoice_rise.css">
    <script type="text/javascript" src="../../js/common/jquery-min.js"></script>
    <script type="text/javascript" src="../../js/invoice_rise.js"></script>
    <script src="../../../../app/js/base/base.js"></script>
</head>
<body>
<div class="header">
    <div class="return"><span class="arrowUp"></span>返回</div>
    <div class="title">发票抬头信息表</div>
    <div class="shut">新建</div>
</div>
<div class="container">
    <div class="loading">
        <img src="../../img/loading.png" class="img-responsive">
    </div>
    <div class="content">
        <div class="background_remind">
            暂无相关内容
        </div>
        <div class="all_content">
            <ul class="content_ul" id="invoice_head">
                <!--<li class="wrap">-->
                    <!--<p class="title">*餐饮服务*-餐费</p>-->
                    <!--<input type="hidden" value="">-->
                    <!--<p class="seller Invoice_detail">销售方：北京伊缘相餐饮有限公司</p>-->
                    <!--<p class="seller Invoice_detail">开户行：北京伊缘相餐饮有限公司</p>-->
                    <!--<p class="seller Invoice_detail">银行账号：北京伊缘相餐饮有限公司</p>-->
                    <!--&lt;!&ndash;<p class="Invoice_detail"><span class="billing_time">开票时间：2018-09-04</span><span class="amount_invoice">¥419.00</span></p>&ndash;&gt;-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<div class="Reminder">
    <div class="hide_show">
        <div class="Reminder_con">
            <p>提示</p>
            <p id="promptContent">查询失败！</p>
            <div class="cancel_btn">
                <span class="cancel">知 道 了</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>