body{
	background: #FBFBFB;
	width: 100%;
}
input{
	color: #9B9B9B;
}
.header{
	width: 100%;
    height: 1.25rem;
    background: #fbfbfb;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,.1);
}

.theme{
	line-height: 1.25rem;
	font-size: .45rem;
	padding-left: 4%;
	font-family: PingFangSC-Semibold;
	font-weight: bold;
}
.write_topic{
	width: 92%;
	margin: 0 auto;
	font-family: PingFangSC-Regular;
	color: #9B9B9B;
	letter-spacing: 0;
	background: #fff;
	line-height: 1.25rem;
	font-size: .4rem;
	border-radius: 5px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
	/*padding:.3rem 0;*/
}
.write_topic span{
	margin-left: .3rem;
}
.themeval{
	width: 92%;
	border: none;
	color: #000000;
}
.details{
	
	width: 92%;
	margin: 0  auto; 
	border-radius: 5px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2); 
}
.details li{
	height: 1.25rem;
	line-height: 1.25rem;
	font-size: .425rem;
	/*font-weight: bold;*/
	border-bottom: 1px solid #e1e3e4;;
	padding-left: .3rem;
}
.detailsLeft{
	float: right;
	margin-right: .3rem;
	color: #9B9B9B ;
}
.reason{
	line-height: .525rem;
	font-size: .4rem;
	width: 90%;
	border: none;
	margin-left: 5%;
	resize: none;
}
.corners_right{
	margin-left:.2rem;
}
.detailsLeft u{
	color: #4787FF ;;
}
.name{
	border: none;
	text-align: right;
	background: transparent;
}
.btn_wrap{
	width: 100%;
	height: 1rem;
	margin-top: .5rem;
	margin-bottom: 1.5rem;
}
.save{
	float: left;
	width: 44%;
	height:1rem;
	background: #FFFFFF;
	border: .5px solid #000000;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
	border-radius: 100px;
	font-family: PingFangSC-Regular;
	font-size: .4rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	margin-left: 4%;
	line-height: 1rem;
}
.next{
	float: left;
	width: 44%;
	height:1rem;
	background: #FFFFFF;
	border: .5px solid #1660A3;
	box-shadow: 0 0 6px 0 rgba(229,54,54,0.20);
	border-radius: 100px;
	font-family: PingFangSC-Regular;
	font-size: .4rem;
	color: #1660A3;
	letter-spacing: 0;
	text-align: center;
	margin-left: 4%;
	line-height: 1rem;
}


/*职级类型选择*/
.rank_rgba{
	z-index:000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; 
	left: 0;
	background: rgba(0,0,0,0.50);
}
.ranktype_ul li{
	height: 2rem;
	margin-left: .4rem;
	border-bottom: 1px solid #E0E2E7;
}
.rank_type{
	z-index: 999;
	width: 90%;
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
	border-radius: 10px;
	margin-left:5%;
	position: fixed; 
    top: 50%;
    transform: translate(0, -50%);
}
.rank_type h2{
	width: 42.7%;
	margin:  0 auto;
	font-family: .SFNSDisplay;
	font-size: .5rem;
	color: #1660A3;
	letter-spacing: 0;
	text-align: center;
	line-height: .5rem;
	margin-top:.5rem;
}
.rankleft{
	width: 75%;
	float: left;
	/*margin-top: .25rem;*/
}
.rankleft h3{
	font-family: .AppleSystemUIFont;
	font-size: .4rem;
	color: #000000;
	letter-spacing: 0;
	/*margin-bottom: .1rem;*/
	line-height: 2rem;
}
.rankleft p{
	font-family: .AppleSystemUIFont;
	font-size: .3rem;
	color: #9B9B9B;
	letter-spacing: 0;
}
.rankright{
	float: right;
	margin-right: .4rem;
	margin-top: .75rem;
}
.ranktype_ul li:last-child {
  	border-bottom: none;
}
.rank_rgba{
	display: none;
}
.alteration{
	display: none;
}

/*法人公司选择*/
.corporation_fix{
	z-index:000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; 
	left: 0;
	background: rgba(0,0,0,0.50);
}
.corporation_ul li{
	height: 2rem;
	margin-left: .4rem;
	border-bottom: 1px solid #E0E2E7;
}
.corporation_type{
	z-index: 999;
	width: 90%;
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
	border-radius: 10px;
	margin-left:5%;
	position: fixed; 
    top: 50%;
    transform: translate(0, -50%);
}
.corporation_type h2{
	width: 42.7%;
	margin:  0 auto;
	font-family: .SFNSDisplay;
	font-size: .5rem;
	color: #1660A3;
	letter-spacing: 0;
	text-align: center;
	line-height: .5rem;
	margin-top:.5rem;
}
.rankleft{
	width: 75%;
	float: left;
	/*margin-top: .25rem;*/
}
.rankleft h3{
	
	font-family: .AppleSystemUIFont;
	font-size: .4rem;
	color: #000000;
	letter-spacing: 0;
	/*margin-bottom: .1rem;*/
	line-height: 2rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rankleft p{
	font-family: .AppleSystemUIFont;
	font-size: .3rem;
	color: #9B9B9B;
	letter-spacing: 0;
}
.rankright{
	float: right;
	margin-right: .4rem;
	margin-top: .75rem;
}
.corporation_ul li:last-child {
  	border-bottom: none;
}
.corporation_fix{
	display: none;
}
