.header{
    background: #FBFBFB;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
}

.container .content .Enclosure{
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .4rem;
    padding:0 5% 0 4%;
    font-family: PingFangSC-Semibold;
    /*font-weight: bold;*/
    font-weight: 600;
}

.container .content .Enclosure span{
    float: right;
    font-size: .4rem;
    color: #1660A3;
}
.container .content .Enclosure .add_theme{
    display: inline-block;
    float: right;
    width: .4rem;
    height: .4rem;
    margin-top: .425rem;
    background: url(../img/combinedShape.png)no-repeat center;
    background-size: cover;
    vertical-align: middle;
}
.container .content .enclosure_list{
    width: 92%;
    height: auto;
    margin: .25rem auto .75rem;
    font-size: .4rem;
}
.container .content .enclosure_list li{
    background: #FFFFFF;
    width: 100%;
    height: 1.25rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    color: #000000;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
    border-radius: 10px;
    padding: 14px 15px;
    margin-bottom: .25rem;
}
.container .content .enclosure_list li:nth-child(1){
    text-align: center;
    color: #9B9B9B;
}
.container .content .enclosure_list li span,
.container .content .enclosure_list li p {
    display: inline-block;
}
.container .content .enclosure_list li p{
    height: 100%;
    width: 83%;
    vertical-align: top;
    text-align: left;
    padding-left: .3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container .content .enclosure_list li span.list_left{
    width: .55rem;
    height: .55rem;
    background: url(../img/png.png)no-repeat center;
    background-size: cover;
}

.container .content .enclosure_list li span.png{
    background: url(../img/png.png)no-repeat center;
    background-size: cover;
}

.container .content .enclosure_list li span.doc{
    background: url(../img/word.png)no-repeat center;
    background-size: cover;
}

.container .content .enclosure_list li span.excel{
    background: url(../img/excel.png)no-repeat center;
    background-size: cover;
}

.container .content .enclosure_list li span.txt{
    background: url(../img/txt.png)no-repeat center;
    background-size: cover;
}

.container .content .enclosure_list li span.ppt{
    background: url(../img/ppt.png)no-repeat center;
    background-size: cover;
}

.container .content .enclosure_list li span.list_right{
    /*display: none;*/
    width: .45rem;
    height: .45rem;
    background: url(../img/Trash.png)no-repeat center;
    background-size: cover;
}

.container .content ul.details{
    width: 92%;
    background: #FFFFFF;
    margin: 0  auto .25rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
}
.container .content  ul.details>li{
    line-height: 1.25rem;
    font-size: .4rem;
    color: #262626;
    /*border-bottom: 1px solid #e1e3e4;*/
    border-bottom: 1px solid #F5F5F5;
    padding:0  .375rem;
}
.container .content  ul.details>li>span,
.container .content  .details>li>p{
    color: #9B9B9B;
    display: inline-block;
    float: right;
    width: 68%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container .content  .details>li>p>input{
    font-size: .4rem;
    color: #9B9B9B!important;
    text-align: right;
}

.container .content  .details>li>div{
    display: inline-block;
    float: right;
    font-size: .4rem;
    color: #9B9B9B;
}
.container .content  .details>li>div:nth-child(2){
    margin-right: 0.2rem;
}

.container .content  ul.details>li>span.slide_out_details{
    width: 12px;
    height: 1.25rem;
    margin-left: 0.25rem;
    background: url(../img/Retract.png)no-repeat center;
}
.container .content  ul.details>li>p.Inspection{
    color: #4787FF;
    text-decoration: underline;
}
.container .content  ul.details>li.Inspection_out{
    color: #9013FE;
}
.container .content  ul.details>li>p.inspection_hints{
    color: #1660A3;
}
.inspection_late{
    font-size: .3rem;
    color: #000000;
}
.memorandum{
    border:none;
    color: #9B9B9B;
    text-align: right;
    font-size: 16px;
}
.sameStyle{
    border:none;
    color: #9B9B9B;
    text-align: left;
    /*background: #FBFBFB;*/
}
input.sameStyle::-webkit-input-placeholder{
    color: #9B9B9B;
}
input.memorandum::-webkit-input-placeholder{
    color: #9B9B9B;
}
.container .content  ul.details>li>span.slide_in_details{
    background: url(../img/Open.png)no-repeat center;
}
.container .content  ul.details>li>span.open{
    background: url("../img/Open.png")no-repeat;
}
.container .content  ul.details>li  ul.toggleBox{
    display: none;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding:0.25rem;
    font-family: PingFangSC-Regular;
    font-size: .3rem;
    color: #9B9B9B;
    background: #F5F5F5;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: .375rem;
}

.container .content  ul.details>li  ul.toggleBoxList{
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 0;
    font-family: PingFangSC-Regular;
    font-size: .3rem;
    color: #9B9B9B;
    background: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-bottom: .375rem;
}
.container .content  .details>li>ul.toggleBox>li{
    position: relative;
    width: 100%;
    line-height: .6rem;
}
.container .content  .details>li>ul.toggleBox>li>span{
    display: inline-block;
    width: 30%;
    height: 100%;
    line-height: .6rem;
    float: left;
}
.container .content  .details>li>ul.toggleBox>li>p{
    display: inline-block;
    width: 69%;
    text-align: right;
    color: #000000;
    vertical-align: middle;
}
.container .content  .details>li>ul.toggleBox li.Independent_Style p{
    display: inline-block;
    float: right;

    width: 70%;
    text-align: right;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container .content  .details>li>ul.toggleBox>li.Independent_Style{
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 0.25rem;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 0.25rem;
    background: #F5F5F5;
}
.container .content  .details>li>ul.toggleBox>li:last-child{
    margin-bottom: 0;
}
.btn_wrap{
    width: 100%;
    height: 1rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}
.btn_wrap .commit{
    width: 92%;
    height:1rem;
    line-height: 1rem;
    text-align: center;
    background: #1660A3;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);
    border-radius: 100px;
    margin-left: 4%;
    font-family: PingFang-SC-Regular;
    font-size: .4rem;
    color: #FFFFFF;
}
.corners_right{
	margin-left:.2rem;
}
/*职级类型选择*/
.rank_rgba{
	z-index:000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; 
	left: 0;
	background: rgba(0,0,0,0.50);
}
.ranktype_ul li{
	height: 2rem;
	margin-left: .4rem;
	border-bottom: 1px solid #E0E2E7;
}
.rank_type{
	z-index: 999;
	width: 90%;
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
	border-radius: 10px;
	margin-left:5%;
	position: fixed; 
    top: 50%;
    transform: translate(0, -50%);
}
.rank_type h2{
	width: 42.7%;
	margin:  0 auto;
	font-family: SFNSDisplay;
	font-size: .5rem;
	color: #1660A3;
	letter-spacing: 0;
	text-align: center;
	line-height: .5rem;
	margin-top:.5rem;
}
.rankleft{
	width: 75%;
	float: left;
	/*margin-top: .25rem;*/
}
.rankleft h3{
	font-family: AppleSystemUIFont;
	font-size: .4rem;
	color: #000000;
	letter-spacing: 0;
	/*margin-bottom: .1rem;*/
	line-height: 2rem;
}
.rankleft p{
	font-family: AppleSystemUIFont;
	font-size: .3rem;
	color: #9B9B9B;
	letter-spacing: 0;
}
.rankright{
	float: right;
	margin-right: .4rem;
	margin-top: .75rem;
}
.ranktype_ul li:last-child {
  	border-bottom: none;
}
.rank_rgba{
	display: none;
}
.alteration{
	display: none;
}
