body{
	background: #FBFBFB;
	width: 100%;
}
input{
    font-size: 100%;
    background: transparent;
	color: #9B9B9B !important;
}
i{
	font-style: normal;
}
.title{
	width: 100%;
	float: left;
	text-align: center;
	line-height:1.25rem;
	font-family: PingFangSC-Regular;
	font-size: .425rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
}
.shut{
	float: right;
	text-align: right;
	line-height: 1.25rem;
	font-size: .425rem;
	position: absolute;
	top: 0; 
	right: 4%;
	color: #1660A3;
}
.theme{
	line-height: 1.25rem;
	font-size: .45rem;
	padding-left: 4%;
	font-family: PingFangSC-Semibold;
	font-weight: bold;
}
.write_topic{
	width: 92%;
	margin: 0 auto;
	font-family: PingFangSC-Regular;
	color: #9B9B9B;
	letter-spacing: 0;
	background: #fff;
	line-height: 1.25rem;
	font-size: .4rem;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	/*padding:.3rem 0;*/
}
.write_topic span{
	margin-left: .3rem;
}
.themeval{
	width: 92%;
	border: none;
	color: #000000 !important;
}
.details{
	background: #fff;
	width: 92%;
	margin: 0  auto; 
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.10); 
}
.details li{
	width: 96%;
	height: 1.25rem;
	line-height: 1.25rem;
	font-size: .4rem;
	/*font-weight: bold;*/
	border-bottom: 1px solid #e1e3e4;;
	padding-left: .3rem;
	 cursor: pointer;
}
.detailsLeft{
	text-align: right;
	float: right;
	margin-right: .3rem;
	color: #9B9B9B ;
}
.mbsc-comp{
	color: #9B9B9B !important;
	}
/* 本次金额 */
.the_money{
	color: #9B9B9B !important;
	border: none;
    text-align: right;
}
/* 事由 */
.reason{
	line-height: .525rem;
	font-size: .4rem;
	width: 90%;
	border: none;
	margin-left: 5%;
	resize: none;
}
.corners_right{
	margin-left:.2rem;
}
.detailsLeft u{
	color: #4787FF ;;
}
.name{
	border: none;
	text-align: right;
	background: transparent;
}
.btn_wrap{
	width: 100%;
	height: 1rem;
	margin-top: .5rem;
	padding-bottom: 1rem;
}
.save{
	float: left;
	width: 44%;
	height:1rem;
	background: #FFFFFF;
	border: .5px solid #000000;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
	border-radius: 100px;
	font-family: PingFangSC-Regular;
	font-size: .4rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	margin-left: 4%;
	line-height: 1rem;
}
.next{
	float: left;
	width: 44%;
	height:1rem;
	background: #FFFFFF;
	border: .5px solid #1660A3;
	box-shadow: 0 0 6px 0 rgba(229,54,54,0.20);
	border-radius: 100px;
	font-family: PingFangSC-Regular;
	font-size: .4rem;
	color: #1660A3;
	letter-spacing: 0;
	text-align: center;
	margin-left: 4%;
	line-height: 1rem;
}
/* 弹框样式 */
.linear_fix,.business_fix,.subject_fix,.corporation_fix,.rank_rgba,.rank_change{
	z-index:000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; 
	left: 0;
	background: rgba(0,0,0,0.50);
	display: none;
}
.business_ul,.linear_ul,.subject_ul,.corporation_ul,.ranktype_ul,.rankchange_ul{
    max-height: 11rem;
    overflow-y: scroll;
}
.business_ul li,.linear_ul li,.subject_ul li,.corporation_ul li,.ranktype_ul li,.rankchange_ul li{
	/* height: 2rem; */
	margin-left: .4rem;
	padding-top: .6rem;
    padding-bottom: .6rem;
	border-bottom: 1px solid #E0E2E7;
	position: relative;
}
.business_type,.linear_type,.corporation_type,.rank_type,.subject_type,.change_type{
	z-index: 999;
	width: 90%;
	background: #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
	border-radius: 10px;
	margin-left:5%;
	position: fixed; 
    top: 50%;
    transform: translate(0, -50%);
    padding-bottom: .5rem;
}
.business_type h2,.linear_type h2,.corporation_type h2,.rank_type h2,.subject_type h2 ,.change_type h2{
    padding-bottom: .6rem;
    margin: 0 auto;
    font-family: .SFNSDisplay;
    font-size: .5rem;
    color: #1660A3;
    letter-spacing: 0;
    text-align: center;
    line-height: .5rem;
    margin-top: .5rem;
}
.business_ul li:last-child ,.linear_ul li:last-child,.subject_ul li:last-child,.corporation_ul li:last-child,.ranktype_ul li:last-child ,.rankchange_ul li:last-child{
  	border-bottom: none;
}
.rankleft{
	width: 85%;
	float: left;
}
.rankleft h3{
	font-family: .AppleSystemUIFont;
	font-size: .4rem;
	color: #000000;
	letter-spacing: 0;
    display: block;
	line-height: .75rem;
}
.rankright{
	float: right;
	margin-right: .4rem;
	position: absolute;
    right: 0%;
    top: 50%;
	margin-top:-0.225rem;
}


.linear_ul li:last-child {
  	border-bottom: none;
}
.linear_type_click{
	display:none;
}

.deta_val {
    display: block;
    width: 4.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}
.travelday{
	width: 1.5rem;
}
.reason{
	height: 1.9rem;
    padding: .25rem 0;
}