<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>历史查看</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/history.css">
	<script type="text/javascript" src="../../js/common/flexible_css.js"></script>
	<script type="text/javascript" src="../../js/common/jquery-min.js"></script>
	<script type="text/javascript" src="../../../../app/js/base/base.js"></script>
	<script type="text/javascript" src="../../js/history.js"></script>
</head>
<body>
	<!-- <div class="header">
		<div class="return"><span class="arrowUp"></span>返回</div>
		<div class="title">历史查看</div>
	</div> -->
	<div class="background_remind" style="top: 45%;padding-top: 0;">暂无相关内容</div>
	<ul class="content">
		<!-- <div class="wrap">
			<div class="wrap_left">
				<div class="subject">
					出差出差申请如果文字过多如果文字过多如果文字过
				</div>
				<div class="details">
					<div class="details_left">
						<div class="hendline">上海会议</div>
						<div class="seriel">CCSQ-2018-11-0000001</div>
					</div>
					<div class="details_right">
						<div class="date">2018-10-29</div>
						<div class="cost">CNY 1000.00</div>
					</div>
				</div>
			</div>
			<div class="wrap_right">
				<div class="tates">
					查看
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="wrap_left">
				<div class="subject">
					出差
				</div>
				<div class="details">
					<div class="details_left">
						<div class="hendline">上海会议</div>
						<div class="seriel">CCSQ-2018-11-0000001</div>
					</div>
					<div class="details_right">
						<div class="date">2018-10-29</div>
						<div class="cost">CNY 1000.00</div>
					</div>
				</div>
			</div>
			<div class="wrap_right">
				<div class="tates">
					查看
				</div>
			</div>
		</div> -->
	</ul>
	<div class="Reminder">
	    <div class="hide_show">
	        <div class="Reminder_con">
	            <p>提示</p>
	            <p id="promptContent">查询失败！</p>
	            <div class="cancel_btn">
	                <span class="cancel">知 道 了</span>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="loading">
	    <img src="../../img/loading.gif" class="img-responsive">
	</div>
</body>
</html>