<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>申请单</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script type="text/javascript" src="../../js/common/flexible_css.js"></script>
	<script type="text/javascript" src="../../js/common/jquery-min.js"></script>
	<script type="text/javascript" src="../../../../app/js/base/base.js"></script>
	<script type="text/javascript" src="../../js/request_note.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../css/draught.css">
	<style type="text/css">
		html,body{height:auto}
		.hendline{
			widtRESOLVEDh: 6.5rem;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    -o-text-overflow: ellipsis;
		    overflow: hidden;
		}
	</style>
</head>
<body>
 	<div class="background_remind" style="top: 45%;padding-top: 0; display:none;height: auto;">暂无相关内容</div>
 	<ul class="content content_one clearfix" style=" padding-bottom: .5rem;">
	</ul>
	<div class="Reminder">
	    <div class="hide_show">
	        <div class="Reminder_con">
	            <p>提示</p>
	            <p id="promptContent">查询失败！</p>
	            <div class="cancel_btn">
	                <span class="cancel">知 道 了</span>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>